html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background: url(scateredclouds.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.first {
  width: 100%;
  min-height: 80vh;
  background: url(spiderweb.jpg);
  background-position: center;
  background-size: cover;
}
.logo {
  width: 129px;
  height: 100px;
  margin-left: 20px;
  padding-top: 20px;
  opacity: 1;
}
.menu {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-left: 1%;
  position: sticky;
  top: 1%;
  font-weight: bold;
  opacity: 1;
}
.slidepage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo {
  opacity: 0;
}
.first .menu .slidepage a {
  color: deepskyblue;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  opacity: 1;
}
label {
  color: white;
  margin-left: 1%;
  position: fixed;
  z-index: 200;
}
label:hover {
  color: gold;
}
.title {
  width: 32%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -25% auto;
  color: rgba(223, 24, 23, 0.8);
  opacity: 3;
  margin-bottom: 10%;
}
/* typing animation */
.main-title {
  width: 100%;
  width: 60ch;
  color: rgba(23, 53, 163, 1);
  -webkit-text-stroke-color: orchid;
  -webkit-text-stroke-width: 1px;
  text-shadow: 3px 5px 6px white;
}
.main-title > h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  opacity: 1;
  border-right: 3px solid red;
  animation: printing 10s steps(27, end) infinite, blink 0.5s step-end infinite;
}
@keyframes printing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
.icons {
  width: 40%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50%;
  z-index: 300;
}
.icons a {
  color: white;
  z-index: 200;
}
.icons #ione:hover {
  color: yellowgreen;
}
.icons #itwo:hover {
  color: yellowgreen;
}
.icons #ithree:hover {
  color: yellowgreen;
}
.about {
  background: rgba(223, 24, 23, 0.8);
  padding: 4px 4px;
}
/* second page */
#aboutmebtn {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  padding: 4px 4px;
}
.aboutme {
  margin-top: 3%;
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.aboutme1 {
  width: 50%;
  height: 95%;
  background: rgba(23, 53, 63, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  color: silver;
}
.col-md-4 {
  background: url(coding2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* bezier effect */
.skills {
  width: 49%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(23, 53, 63, 0.4);
}
box1,
box2,
box3,
box4,
box5 {
  margin-left: 5%;
  margin-right: 5%;
}
box1,
box2,
box3,
box4,
box5 {
  width: 12vw;
  height: 6vh;
  background: rgba(23, 53, 63, 0.8);
  margin-top: 2px;
  margin-bottom: 3px;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.1);
  border-radius: 35px 0px 35px 0px;
}
box1:hover {
  transition: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
  width: 45vw;
}

box2:hover {
  transition: 3s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
  width: 40vw;
}

box3:hover {
  transition: 4s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
  width: 37vw;
}

box4:hover {
  transition: 5s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
  width: 32vw;
}

box5:hover {
  transition: 5s;
  transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
  width: 27vw;
}
box1 h4 {
  opacity: 0;
}

box2 h4 {
  opacity: 0;
}

box3 h4 {
  opacity: 0;
}

box4 h4 {
  opacity: 0;
}

box5 h4 {
  opacity: 0;
}
box1:hover h4 {
  opacity: 1;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 1, 0.4);
  width: 45vw;
  color: wheat;
}

box2:hover h4 {
  opacity: 1;
  transition: 3s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
  width: 40vw;
  color: wheat;
}

box3:hover h4 {
  opacity: 1;
  transition: 4s;
  transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.4);
  width: 37vw;
  color: wheat;
}

box4:hover h4 {
  opacity: 1;
  transition: 4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
  width: 32vw;
  color: wheat;
}

box5:hover h4 {
  opacity: 1;
  transition: 4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
  width: 27vw;
  color: wheat;
} /* end of bezier */

h2 {
  text-align: center;
}
h4 {
  text-align: center;
}

h3,
h5 {
  text-align: center;
  border-bottom: 3px solid blue;
  color: black;
}
h7 {
  margin-left: 100px;
}
.first {
  text-decoration: none;
}
.first a {
  text-decoration: none;
  color: white;
}
.first a h4 {
  list-style: none;
}
/* third page */
#edubtn {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  padding: 4px 4px;
  /* position: absolute;
    margin-left: 30%;
    margin-top: 50%; */
}
.education {
  margin-top: 3%;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#relatedbtn {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  padding: 4px 4px;
}
.general-education {
  width: 50%;
  height: 95%;
  background: rgba(23, 53, 63, 0.4);
  padding: 10px 10px;
  text-align: justify;
  color: silver;
}
.web-related {
  width: 49%;
  height: 95%;
  background: rgba(23, 53, 63, 0.4);
  padding: 10px 10px;
  text-align: justify;
  color: silver;
}
/* fourth page */
#workbtn {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  padding: 4px 4px;
}
.work {
  margin-top: 3%;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#workbtn1 {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  padding: 4px 4px;
  position: absolute;
  margin-top: -5%;
}
.work-experience {
  width: 50%;
  height: 95%;
  background: rgba(23, 53, 63, 0.4);
  padding: 10px 10px;
  text-align: justify;
  color: silver;
}
.web-experience {
  width: 49%;
  height: 95%;
  background: rgba(23, 53, 63, 0.4);
  padding: 10px 10px;
  text-align: justify;
  color: silver;
}
/* last-page */
.contact {
  width: 60%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20%;
}
.residence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  background: rgba(23, 93, 103, 0.3);
  box-shadow: 4px 5px 6px black;
}
.residence:hover {
  color: black;
}
.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  background: rgba(23, 93, 103, 0.3);
  box-shadow: 4px 5px 6px black;
}
.phone:hover {
  color: black;
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  background: rgba(23, 93, 103, 0.3);
  box-shadow: 4px 5px 6px black;
}
.email:hover {
  color: black;
}
.totop {
  margin-left: 120px;
  position: fixed;
  bottom: 40px;
}
#totop {
  color: red;
}
#totop:hover {
  color: tomato;
}
.copyright {
  text-align: center;
}

/* media query */
@media only screen and (max-width: 550px) {
  .first {
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    justify-content: space-evenly;
    margin-top: 4%;
    background: none;
  }
  .slidepage {
    width: 120px;
    height: 200px;
    background: rgba(223, 24, 23, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    justify-content: space-evenly;
    box-shadow: 4px 5px 6px black;
    margin-left: 2%;
    position: relative;
  }
  .title {
    width: 90%;
    font-size: 18px;
    margin-top: -5%;
  }
  .icons {
    margin-top: 5%;
  }
  .aboutme {
    width: 96%;
    min-height: 90%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
  }
  .aboutme1 {
    width: 100%;
    height: 48%;
  }
  .skills {
    width: 100%;
    height: 48%;
    margin-top: 1%;
  }
  /* h4 {
    text-align: center;
  } */
  box1,
  box2,
  box3,
  box4,
  box5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 8vh;
  }
  box1:hover {
    transition: 2s;
    transition-timing-function: cubic-bezier(0.1, 0.5, 1, 0.1);
    width: 85vw;
  }
  box2:hover {
    transition: 3s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.1);
    width: 80vw;
  }

  box3:hover {
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.1);
    width: 75vw;
  }

  box4:hover {
    transition: 5s;
    transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
    width: 67vw;
  }

  box5:hover {
    transition: 5s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.1);
    width: 60vw;
  }
  box1 h3 {
    opacity: 0;
  }

  box2 h3 {
    opacity: 0;
  }

  box3 h3 {
    opacity: 0;
  }

  box4 h3 {
    opacity: 0;
  }

  box5 h3 {
    opacity: 0;
  }
  box1:hover h3 {
    opacity: 1;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.1, 0.5, 1, 0.4);
    width: 85vw;
    color: wheat;
  }

  box2:hover h3 {
    opacity: 1;
    transition: 3s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 80vw;
    color: wheat;
  }

  box3:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.4);
    width: 75vw;
    color: wheat;
  }

  box4:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 67vw;
    color: wheat;
  }

  box5:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 60vw;
    color: wheat;
  }
  .education {
    width: 96%;
    min-height: 90%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .general-education {
    width: 100%;
    height: 48%;
  }
  .web-related {
    width: 100%;
    height: 48%;
    margin-top: 1%;
  }

  .work {
    width: 96%;
    min-height: 90%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .work-experience {
    width: 100%;
    height: 48%;
  }
  .web-experience {
    width: 100%;
    height: 48%;
    margin-top: 1%;
  }
  .contact {
    width: 50%;
    height: 90%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .residence {
    width: 100%;
    height: 48%;
  }
  .phone {
    width: 100%;
    height: 48%;
    margin-top: 1%;
  }
  .email {
    width: 100%;
    height: 48%;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .totop {
    margin-left: 5%;
  }
}

@media (min-width: 550px) and (max-width: 1100px) {
  .first {
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    justify-content: center;
  }
  .slidepage {
    width: 150px;
    height: 225px;
    background: rgba(223, 24, 23, 0.7);
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    justify-content: center;
    box-shadow: 4px 5px 6px black;
    z-index: 200;
    position: relative;
    overflow: hidden;
  }
  .title {
    width: 90%;
    font-size: 18px;
  }
  .aboutme {
    width: 88%;
    height: 100%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
  }
  .aboutme1 {
    width: 100%;
    height: 50%;
  }
  .skills {
    width: 100%;
    height: 50%;
    margin-top: 1%;
  }
  .menu {
    width: 45%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    justify-content: space-evenly;
    /*  margin-top: 4%; */
  }
  .title {
    width: 90%;
    font-size: 18px;
    margin-top: -3%;
  }
  .icons {
    margin-top: -5%;
  }

  box1:hover {
    transition: 2s;
    transition-timing-function: cubic-bezier(0.1, 0.5, 1, 0.1);
    width: 85vw;
  }

  box2:hover {
    transition: 3s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.1);
    width: 80vw;
  }

  box3:hover {
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.1);
    width: 75vw;
  }

  box4:hover {
    transition: 5s;
    transition-timing-function: cubic-bezier(0.1, 0.2, 1, 0.1);
    width: 67vw;
  }

  box5:hover {
    transition: 5s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.1);
    width: 60vw;
  }
  box1 h3 {
    opacity: 0;
  }

  box2 h3 {
    opacity: 0;
  }

  box3 h3 {
    opacity: 0;
  }

  box4 h3 {
    opacity: 0;
  }

  box5 h3 {
    opacity: 0;
  }
  box1:hover h3 {
    opacity: 1;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.1, 0.5, 1, 0.4);
    width: 85vw;
    color: wheat;
  }

  box2:hover h3 {
    opacity: 1;
    transition: 3s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 80vw;
    color: wheat;
  }

  box3:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1, 0.4);
    width: 75vw;
    color: wheat;
  }

  box4:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 67vw;
    color: wheat;
  }

  box5:hover h3 {
    opacity: 1;
    transition: 4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 1, 0.4);
    width: 60vw;
    color: wheat;
  }
  .education {
    width: 88%;
    height: 100%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .general-education {
    width: 100%;
    height: 50%;
  }
  .web-related {
    width: 100%;
    height: 50%;
    margin-top: 1%;
  }

  .work {
    width: 88%;
    height: 100%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .work-experience {
    width: 100%;
    height: 50%;
  }
  .web-experience {
    width: 100%;
    height: 50%;
    margin-top: 1%;
  }
  .contact {
    width: 50%;
    height: 90%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .residence {
    width: 100%;
    height: 50%;
  }
  .phone {
    width: 100%;
    height: 50%;
    margin-top: 1%;
  }
  .email {
    width: 100%;
    height: 50%;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .totop {
    margin-left: 5%;
  }
}
/* humburger */
.slidepage {
  min-width: 100%;
  min-height: 50px;
  position: absolute;
  left: -150%;
  top: 0px;
  transition: 1s;
}
#logo:checked + .slidepage {
  left: 0;
}

h7 {
  background: rgba(223, 24, 23, 0.5);
  padding: 4px 4px;
  color: black;
  border-bottom: 3px solid white;
}
.li {
  color: black;
  margin-left: 20%;
  margin-top: 1%;
}
.li > a {
  color: black;
  font-size: 16px;
}
/* cv-unavailable */
#cv-button {
  border: none;
  background: rgba(35, 124, 23, 0.7);
  height: 30px;
}
.cv-absent {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  padding: 1% 3%;
  position: absolute;
  background: rgba(23, 53, 63, 0.9);
  color: white;
  display: none;
}
/* close-box */
.close-box {
  margin-top: 1%;
  margin-left: 90%;
}
.digitalCv-absent {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  padding: 1% 3%;
  position: absolute;
  background: rgba(23, 53, 63, 0.9);
  color: white;
  display: none;
}
/* close-myBox */
.close-myBox {
  margin-top: 1%;
  margin-left: 90%;
}
#ithree {
  height: 50px;
  border-radius: 15%;
  border: none;
  z-index: 200;
}
